<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="modal" class="modal" id="delete-user-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form>
                <div class="modal-body w-50 mx-auto" th:align="center">
                    <input type="hidden" id="delete-user-id">

                    <strong><label for="delete-user-firstname" class="form-label">First name</label><br></strong>
                    <input type="text" id="delete-user-firstname" class="form-control" disabled><br>

                    <strong><label for="delete-user-lastname" class="form-label">Last name</label><br></strong>
                    <input type="text" id="delete-user-lastname" class="form-control" disabled><br>

                    <strong><label for="delete-user-age" class="form-label">Age</label><br></strong>
                    <input type="number" id="delete-user-age" class="form-control" disabled><br>

                    <strong><label for="delete-user-email" class="form-label">E-mail</label><br></strong>
                    <input type="text" id="delete-user-email" class="form-control" disabled><br>

                    <strong><label for="delete-user-password" class="form-label">Password</label><br></strong>
                    <input type="password" id="delete-user-password" class="form-control" disabled><br>

                    <strong><label for="delete-user-authorities" class="form-label">Roles</label><br></strong>
                    <select class="form-select" id="delete-user-authorities" th:name="authorities" size="2" multiple disabled>
                        <option value="USER">USER</option>
                        <option value="ADMIN">ADMIN</option>
                    </select><br>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" id="delete-user-form-btn" class="btn btn-danger">Delete</button>
                    </div>
                    <div id="user-delete-success" class="valid-feedback authorities">Done</div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>