<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form th:fragment="form" th:align="center" action="#" th:action="@{/admin/users/save}"
          th:object="${user}" th:method="post" class="w-25 mx-auto">
        <input type="hidden" th:name="id">

        <strong><label for="firstName" class="form-label">First name</label><br></strong>
        <input type="text" id="firstName" class="form-control" th:name="firstName"><br>
        <strong><label for="lastName" class="form-label">Last name</label><br></strong>
        <input type="text" id="lastName" class="form-control" th:name="lastName"><br>
        <strong><label for="age" class="form-label">Age</label><br></strong>
        <input type="number" id="age" class="form-control" th:name="age"><br>
        <strong><label for="email" class="form-label">E-mail</label><br></strong>
        <input type="text" id="email" class="form-control" th:name="email"><br>
        <strong><label for="password" class="form-label">Password</label><br></strong>
        <input type="password" id="password" class="form-control" th:name="password" required><br>
        <strong><label for="authorities" class="form-label">Roles</label><br></strong>
        <select class="form-select" id="authorities" th:name="authorities" size="2" multiple aria-label="multiple select example">
                <option th:each="role : ${roles}" th:value="${role.name}"
                        th:text="${role.name}"></option>
        </select><br>
        <button type="submit" class="btn btn-success">Add new user</button>
    </form>
</body>
</html>