<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
  <nav th:fragment="navbar" class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <span class="navbar-brand text-white pt-0">
        <b><span class="align-middle" sec:authentication="principal.email"></span></b>
        <span class="align-middle">with roles:</span>
        <span class="align-middle" sec:authentication="principal.authorities"></span>
      </span>
      <form th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-dark text-secondary">Logout</button>
      </form>
    </div>
  </nav>
</body>
</html>