<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:insert="~{toolbar :: toolbar}"></div>

    <fieldset style="display: inline">
        <legend>Edit user</legend>
        <form action="#" th:action="@{/admin/users/save}" th:object="${user}" th:method="post">
            <input type="hidden" th:value="${user.id}" th:field="*{id}">

            <label for="firstName">First name:</label><br>
            <input type="text" id="firstName" th:value="${user.firstName}" th:field="*{firstName}"><br>
            <label for="lastName">Last name:</label><br>
            <input type="text" id="lastName" th:value="${user.lastName}" th:field="*{lastName}"><br>
            <label for="age">Age:</label><br>
            <input type="text" id="age" th:value="${user.age}" th:field="*{age}"><br>
            <label for="email">E-mail:</label><br>
            <input type="text" id="email" th:value="${user.email}" th:field="*{email}"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" th:value="${user.password}"
                   th:field="*{password}" th:required="${user.id == null} ? 'required' : null"><br>
            <input type="checkbox" id="enabled" th:value="${user.enabled}" th:field="*{enabled}">
            <label for="enabled">enabled</label><br>

            <fieldset>
                <legend>Roles</legend>
            <th:block th:each="role : ${roles}">
                <input id="role" type="checkbox" th:field="*{authorities}" th:value="${role.name}">
                <label for="role" th:text="${role.name}"></label><br>
            </th:block>
            </fieldset><br>

            <input type="submit" value="Submit" /> <input type="reset" value="Reset" />
        </form>
    </fieldset><br>
</body>
</html>